.mainButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "yekan";
  box-shadow: 0px 0px 18px 5px #304ffe3c;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
}

.mainButtons a {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  background-color: #304ffe;
  padding: 5px;
  border-radius: 10px;
  color: #fff;
  transition: all 0.2s ease-in;
  border: 1px solid #304ffe;
}

.mainButtons a:hover {
  background-color: #fff;
  color: #304ffe;
}

.mainButtons a svg {
  margin-right: 5px;
  font-size: 1.5rem;
}

.mainButtons button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: red;
  color: #fff;
  font-family: "Yekan";
  padding: 5px;
  font-size: 1.1rem;
  width: 90px;
  text-align: center;
  transition: all 0.2s ease-in;
  border: 1px solid red;
}

.mainButtons button svg {
  margin-right: 5px;
  font-size: 1.5rem;
}

.mainButtons button:hover {
  background-color: #fff;
  color: red;
}

.mainButtons .groupDelete {
  width: 125px;
}

.mainButtons .cancel {
  background-color: #ecd13c;
  transition: all 0.2s ease-in;
  border: 1px solid #ecd13c;
}

.mainButtons .cancel:hover {
  background-color: #fff;
  color: #ecd13c;
}
