.container {
  background-color: #e3e3e372;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.container .modal {
  width: 500px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 18px 5px #304ffe3c;
  padding: 20px 15px;
  text-align: center;
}

.modal p {
  font-size: 1.3rem;
  color: #304ffe;
  margin-bottom: 30px;
}

.modal .buttons {
  display: flex;
  justify-content: space-around;
}

.modal .buttons button {
  width: 150px;
  cursor: pointer;
  border: none;
  padding: 5px 8px;
  background-color: #304ffe;
  color: #fff;
  font-size: 1rem;
  font-family: "Yekan";
  border-radius: 10px;
  transition: all 0.2s ease-in;
  border: 1px solid #304ffe;
}

.modal .buttons button:first-child:hover {
  background-color: #fff;
  color: #304ffe;
}

.modal .buttons button:last-child {
  background-color: red;
  border: 1px solid red;
}

.modal .buttons button:last-child:hover {
  background-color: #fff;
  color: red;
}
