.container {
  margin: 30px auto 60px;
}

.container .searchBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 5px 25px;
}

.container .list {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 18px 5px #304ffe3c;
  margin: 30px auto 60px;
  height: 600px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.container .list .topSeperator {
  width: 100%;
  margin: 0px auto;
  position: sticky;
  top: 0;
  right: 0;
  background-color: #fff;
  padding: 15px 0px;
}

.container .list .bottomSeperator {
  width: 100%;
  margin: 0px auto;
  position: sticky;
  bottom: 0;
  right: 0;
  background-color: #fff;
  padding: 15px 0px;
}

.container .list ul {
  width: 100%;
  padding: 10px 20px;
}

.container .list::-webkit-scrollbar {
  display: none;
}

.container .text {
  text-align: center;
  font-family: "Yekan";
}

@media (max-width: 768px) {
  .container .searchBox {
    flex-direction: column;
    margin-top: 30px;
    padding: 5px 25px;
  }

  .container .list {
    width: 90%;
  }
}

@media (max-width: 450px) {
  .container .searchBox {
    padding: 5px 0px;
  }
}
